.edit-comment-container {
    width: 30%;
}

.edit-btn-submit {
    margin-top: 0.6em;
}

.close-btn:hover {
    color: white;
    background-color: #fc6262;
    cursor: pointer;
}

.close-btn {
    margin-top: 0.3em;

}
.textarea{
    height: 6em;
}